.movies-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
}

.movies-container .movie, .movies-container .movieResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  padding: 0 10px;
}

.movie .header, .movieResults .title, .movieResults .genre, .movieResults .votes, .movieResults .year, .movieResults .rating {
  flex: 1 0 25%;
}

.submit-btn {
	margin-top:10px;
}

.jumbotron1 {
  background-color:#D4E3CA;
  flex: 1 0 20%;
  margin: 5px 0;
  padding: 30px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 25px;
}