.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
  /* margin-top: 10px; */
}

.header-container .headers, .results-container .movieResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.movieResults .title, .movieResults .id, .movieResults .rating, .movieResults .votes, .headers .header {
  flex: 1 0 25%;
}

.submit-btn {
	margin-bottom:10px;
}


.input-container {
	margin-bottom:10px;
}

.dropdown-container {
	margin-bottom: 10px;
}

.jumbotron1 {
  background-color:#D4E3CA;
  flex: 1 0 20%;
  margin: 5px 0;
  padding: 30px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 25px;
}

.h3 {
  text-align:center;

}